# Node Modules
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary Files
tmp/
temp/

# MySQL Dumps / Backups
*.sql

# Runtime files
pids/
*.pid
*.seed
*.pid.lock